# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Static assets build (if any)
node_modules/
npm-debug.log
*.db
assets/external/
.states
__pycache__/
.web
*.py[cod]
